{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}
body{
    background-color: aliceblue;
}

header{
    background-color: hotpink;
    color:darksalmon;
    text-align: center;
    padding: 20px 10px;
}
header h1{
    font-size: 28px;
    margin-bottom: 8px;
}
header p{
    font-size: 14px;
    font-weight: ;
}